<!DOCTYPE html>
%html(lang="ja")
    %head
        %meta(charset="UTF-8")/
        %title 太郎のポートフォリオサイト
        %link(rel="icon" href="favicon.ico")/
        %meta(http-equiv="X-UA-Compatible" content="IE=edge")/
        %meta(name="description" content="太郎のポートフォリオサイトです。")/
        %link(rel="stylesheet" href="css/style.css")/


    %body
        %header
            .container
                .icon
                    %img(src="img/taro.png" width="120" height="120" alt="太郎のアイコンです")/
                .info
                    %h1 山田太郎
                    %p UI/UXデザイナー見習いです
                    %ul
                        %li
                            %a(href="https://dotinstall.com" target="_blank")
                                %img(src="img/blog.png" width="20" height="20" alt="ブログサイトへのリンク画像です")/
                        %li
                            %a(href="https://dotinstall.com" target="_blank")
                                %img(src="img/photos.png" width="20" height="20" alt="写真サイトへのリンク画像です")/

        %section.works
            %h1 WORKS
            %section
                %img(src="img/work3.png" width="400" height="260" alt="神経衰弱の紹介画像")/
                %h1 神経衰弱
                %p 楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。
                %p 楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。
                %p 楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。
                %a(href="index.html") 戻る

        %footer
            %p (c) dotinstall.com